body {
    background-color: azure;
    margin: 0%;
}

.main {
    margin: 5rem;
    border-radius: 0px;
}
/*form{
    display: inline-block;
}*/

input[type=number]:focus {
    border: 0px solid #fff;
}

input[type=number] {
    background-color: #fff;
    width: 100%;
    padding: 12px 20px;
    margin: 25px 0;
    display: inline-block;
    border: 0px solid #ffffff;
    border-radius: 0px;
    height: 20%;
}
/* label{
    margin: auto;
    text-align: center;
} */
input[placeholder]    {
    text-align: center;
    font-size: xx-large;
}
::placeholder{
    color: rgb(218, 218, 218);
    font-size: xx-large;
    text-align: center;
    /* opacity: 1; */
}
.header{
    background-color: purple;
    height: 10%;
    text-decoration-color: #ffffff;
    font: bold;
    font-size: xx-large;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    column-gap: 0px;
}
p.header-text{
    text-align: center;
    padding-top: 1.2%;
    color: #ffffff;
}